.img_place{
    padding:4em;
}
.text_outside{ 
    color:#fff;
    background-color: #000;
    opacity:0.6;
    padding:2em;
    margin:0 auto;
}
.title_word{
    text-align:center;
    font-size:50px;
}
.person{
    width : 700px;
    height: 400px;
    /*700 400*/
}
.img_place_article{
    padding:0.5em 4em;
}
.text_outside_article{ 
    color:#fff;
    background-color: #000;
    opacity:0.3;
    padding:0.5em;
    margin:0 auto;
}
.title_word_article{
    text-align:center;
    font-size:25px;
}

.title_word_footer{
    text-align:center;
    font-size:15px;
    display:block;
}

.work{
    width : 300px;
    height: 200px;
    margin-right: 25px;
    margin-left: 25px;
    display:inline;
}

header{
    background-image:url('header_bg3.jpg');
    max-width:100%;
}

article{
    background-image:url('bg.jpg');
    max-width:100%;
    text-align:center;
}

footer{
    background-color: rgb(158, 158, 158);
}